html {
    overflow-y: auto !important;
}

a {
    text-decoration: none !important;
}

.position-relative{
    position: relative!important;
}

.position-absolute{
    position: absolute!important;
}

.logo-img {
    width: 150px;
}

.school-table-img {
    width: 120px;
    height: 120px;
}

.school-card-img {
    height: 270px;
}

.school-manager-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.login-bg {
    height: 100%;
    background-image: url(../img/login.jpg);
    background-size: cover;
    background-position: center center;
}
.main-bg-pattern {
    background-image: url(../img/pattern_main_250.jpg);
    background-repeat: repeat;
}

.h-out-navbar {
    height: calc(100vh - 74px);
    overflow: auto;
}

@media (min-width: 1904px) {
    .h-out-navbar.container {
        max-width: 1400px !important;
    }
}

.bg-white {
    background: white;
}

.post-item-card-avatar {
    height: auto !important;
    width: 100% !important;
    max-width: 125px !important;
}

.school-card-avatar{
    height: 70px!important;
    width: 70px!important;
}

.pl-0-banner .v-banner__wrapper {
    padding-left: 0 !important;
}

.divider{
    width:100%;
    height:10px;
    background-color: #f3f3f3;
}
.uploaded-image{
    height: 150px;
}

.remove-uploaded-item-icon{
    z-index: 1;
    top: 10px;
    right: 10px;
}

.uploaded-video-icon{
    width: 45px;
    height: 45px;
}

.school-space-tab-bar-outter{
    height: calc(100% - 72px);
    overflow: auto;
}

.text-wrap{
    overflow-wrap: break-word;
}

.school-tab-bar{
    position: sticky;
    top: 0;
    background: white;
    box-shadow: 1px 1px 5px grey;
    z-index: 1;
}

.fs-15{
    font-size: 1.5rem;
}

.v-skeleton-loader__list-item-avatar-two-line .v-skeleton-loader__avatar{
    width: 70px!important;
    height: 70px!important;
}

.min-w-fit-content{
    min-width: fit-content;
}

.hover-cursor-point:hover{
    cursor: pointer;
}